* {
    font-family: Arial, Helvetica, sans-serif;
}

/* header css */
#full_nav {
    background-color: burlywood;
    overflow-x: auto;
}

#full_nav .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#full_nav .logo {
    max-height: 50px;
}

#full_nav .left-item {
    margin-right: 2%;
    margin-left: 20px;
}

#full_nav .pure-menu-link {
    color: whitesmoke
}

#full_nav .pure-menu-link:hover {
    background-color: #ba905e;
}

/* all non-header css */
.non-header {
    height: 90vh;
    scroll-snap-type: y mandatory;
    overflow: scroll;
}

/* shop.html css */
#all-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 5px;
    margin-right: 5px;
}

.item-data {
    box-sizing: border-box;
    width: calc(33.33% - 50px);
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    justify-content: left;
}

.item-data:hover {
    opacity: 0.6;
}

.item-display {
    max-width: 100%;
}

/* collections.html css */
section {
    display: flex;
    height: 90vh;
    scroll-snap-align: start;
    position: relative;
    align-items: center;
    justify-content: center;
}

.collection-slide1 {
    background-image: url("tree.jpg");
}

.collection-slide2 {
    background-image: url("tree.jpg");
}

.collection-slide3 {
    background-image: url("tree.jpg");
}

.collection-title {
    position: relative;
    right: 25%;
}

.collection-desc {
    display: flex;
    transform: translateX(50%);
    height: auto;
    width: 40%;
}

/* product.html css */
.product-container {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.product-container img {
    display: block;
    margin-top: 5%;
    max-width: 100%;
}

.product-display {
    margin: 10%;
}

.product-display img {
    max-width: 10em;
}

.product-desc {
    text-align: left;
    font-family: monospace;
}

.product-display li {
    color: black;
    font-family: monospace;
    font-size: large;
}

.product-display li:hover {
    opacity: 0.6;
}